$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
$primary:#198754;
$success: #49556B;
$dark: #18202D;
$secondary: #EDF2F8;

@media (min-width: 992px) { 
    .alto-100{
        height: 100vh;
    }
}

.d-flex img{
    width: 50px;
}
.fondo-card{
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% top;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 950px,
  xl: 1140px,
  xxl: 1320px
);

.carusel-item .img-fluid{
    width: 100%;
    height: 80%;
  }
@import "../node_modules/bootstrap/scss/bootstrap";